/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px; /* Increase the space below the heading */
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.form-box {
    margin-top: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

/* Toggle buttons styles */
.form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
}

.toggle-button.active {
    background-color: #007BFF;
    color: white;
}
